body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#user-form {
    margin: 20px auto;
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#csv-download {
    margin-top: 20px;
}